*.swp
*.orig
ansible-ssh
*.tar.*
*.temp
hosts-utility*
hosts-bastion*
hosts-kvmhost*
*.ORIG
appunti*
custom-variables.yaml*
custom-variables*
*pull-secret.txt
*pull-secret.yaml
custom-bm-ansible-nodes.json
*id_rsa
*id_rsa.pub
*.iso
*.DS_Store
*.idea
*.secrets
*.troubleshooting
networking/cisco.xlsx
*.qcow2
vault-variables.yaml